body {
    color: rgb(226, 218, 218);
    text-align: center;
    display: block;
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%) fixed;
}

h1 {
    margin: 0 auto;
    border: 3px solid #dadde1;
}

img {
width:300px;
height: auto;
}